# Visual Studio
.vs/
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleasePublic/
[Xx]64/
[Xx]86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Models (Large binaries)
*.bin
WhisperModels/*.bin
!WhisperModels/.gitkeep

# User Config
settings.json
user.config.json

# Private Keys
google_service_account.json
